* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2em 3em;
}

.selection {
  display: flex;
  margin: 1em 0;
  justify-content: space-around;
}


button, select {
  min-width: 150px;
  height: 50px;
  color: rgb(29, 90, 29);
  border-radius: 1em;
  cursor: pointer;
}

button {
  background-color: rgb(20, 131, 14);
  color: white;
  font-size: larger;
  font-weight: 700;
}

button:active {
  background-color: white;
  color: rgb(20, 131, 14);
}

#event-title {
  text-align: center;
  margin: 1em;
}

.grid {
  display: grid;
  grid-template-columns: .2fr 1fr 1fr 1fr;
  min-width: 300px;
}

.grid-title {
  display: grid;
  grid-template-columns: .2fr 1fr 1fr 1fr;
  font-weight: 700;
  text-transform: uppercase;
}

.line {
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 2em 1em 3em 1em;
  }

  .selection {
    display: block;
    margin: 2em 0;
  }

  button, select {
    width: 100%;
    margin: 1em 0;
  }

  #rank-title {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: .1fr 1fr .4fr .5fr;
    min-width: 300px;
    margin: .5em 0 1em 0;
  }

  #grid-title {
    grid-template-columns: 1fr .5fr .35fr;
  }
}